@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model StackOverflow.Models.Question

<div class="well">
    <h2>@Model.Title</h2>
    <hr />
    <p>@Model.Content</p>
    <p>- @Model.User</p>
</div>

@if (Model.Answers != null)
{
    @foreach (var listAnswer in @Model.Answers)
    {
        <div class="well text-center">
            <div class="row">
                <div class="col-sm-1">
                    <div class="row">
                        <form action="/answers/vote" method="post">
                            <input type="hidden" name="answerId" value="@listAnswer.AnswerId" />
                            <input type="hidden" name="vote" value="1" />
                            <button class="btn"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
                        </form>
                    </div>
                    <div class="row">
                        <h3>@listAnswer.VoteTally</h3>                        
                    </div>
                    <div class="row">
                        <form action="/answers/vote" method="post">
                            <input type="hidden" name="answerId" value="@listAnswer.AnswerId" />
                            <input type="hidden" name="vote" value="-1" />
                            <button class="btn"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-8">
                    @listAnswer.Content
                    <p>- @listAnswer.User</p>
                </div>
            </div>
        </div>
    }
}



<div class="well">
    <form class="form-group" action="/Answers/Create" method="post">
        <label>Your Answer:</label>
        <textarea rows="8" cols="200" class="form-control" type="text" name="content"></textarea>
        <input type="hidden" name="questionId" value="@Model.QuestionId" />
        <br />
        <button class="btn">Add Answer</button>
    </form>
</div>
 